language: android
sudo: required
jdk: oraclejdk8
before_cache:
- rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache: "-$HOME/.gradle/caches -$HOME/.gradle/wrapper"
env:
  global:
  - ANDROID_API=28
  - EMULATOR_API=28
  - ANDROID_BUILD_TOOLS=28.0.2
  - ADB_INSTALL_TIMEOUT=5
  - secure: Cay5UWHQunMl4NDa2S3lRVVQJQxiBjAY2pZgSztzrmtPupAKQ6bzbVrybn74UgrvrzO3cWwwbun5WP6lHpkiGp036QZeT6h08gasxgxvreFo36MmYnR5hyEv1Xj2q7eEGt+RJtVnWbjwGj8SWyHFzpOimx06Tuoyi245M7W00SPpQzP0Uzdd/ukolM7R4t2D3PtYKLMIphK1s5PZXMxsYpZwLT26wTHODyTqm/2ezPBk2sNVtwMLE/n8pOW5c/2nQ4fS8VCxBizsoz7lX3mrokCFezTOoCESj4eUR4bqUaDG+FF7VyPCmEICwxWXxAcjjggZeUkALKsaiXCsLLSXwndhSCSv0UcriarcQSIwKbsTx5JB5V3aJ1u6TlBfI6CXVDudqIgvmhCAGsmXbBY1oBeia6jpGcUmiSempo1dsQlJ2B2W5pAAQw0JS+vvFOBIMXgAFmQ4+Lv019cXuReW4wIraf6iblMrYjRctjjOjRp5v2KqAgW0HUXKptWVuIY7HZdkikdZHCl76GGMHNDNaoRbiT4hOG3nG0fdR7Yp291/K9emwK9bxLFvkKKZGoXAXYuWWbx8yhKkTCi+Um/Mra790t+vjfFRqtETwAjGdRPsGRKMDGOzUlVw36qIL0+QKFsKaCdgyN8h3vjqImsNINI1vATwhuGmithUc7ukMTI=
  - secure: L0s82lQnMDw62DgB+OTNOtciNzWXTQcTkPsZ6CB1hYpc3UrcD4+XsaE5O+54eEzxFNjVi3SlE97aOQtqT+PmT/NpqKFWb5Tgb9GW3rlZHtGeScX/uR7p9+aiwRJYmDLp3ExGpRDjFdp7X6ZYQsXznPEpJC5MxvGF4KQ6k5tLi880gZTwOM1v5UzzyQbJk8ACCbgBOtyMMmBFGaXecDX50/Lsu4eCUjbfPioVvjTHa7t4bZ+WX75gZwZ4WK4IC2K0uiEhfmnSIbf56UBDeaG0Z4XWzdPjlXdaMD4VCpq+VFGK8LzzgSFrJZqN5DP8pNeg41EkVMvAT0dOgMlDDCYzG5tPXfCGa7RIwlNpxtjCeGE03/9aT0uvcDYSJFeh0Nh9ooQzjzo6XuVxm0DRWY53wQAT3xioVhW+dxCuZ7BhCtq2aS2uRWjPIcUPP/Ba3gLPR4yj7R9OUd2f1GnP8rF6qgEFxlQYni6XvXZJC0XRKsD16bfS0jNs7YdDdN58dMm1xU2Pd0fE6xL8cr3fuHCCOKMftoDt3bLBXwWlwwSkFUoJOnEABqXFE3XkQbe84tntP09ghFBiBi4hEWCPy3aA+7q+sksp2oLgCD7PXra98kdu/0TOM+mEv7nNv+wU3WdP2jxodPK+W0vZ2IhFUSoyDz1X2VaEZJZ6pbie3YDTmEM=
android:
  components:
  - tools
  - tools
  - build-tools-$ANDROID_BUILD_TOOLS
  - android-$ANDROID_API
  - android-$EMULATOR_API
  - extra-google-m2repository
  - extra-android-m2repository
  - addon-google_apis-google-28
  - sys-img-armeabi-v7a-google_apis-$ANDROID_API
  - sys-img-armeabi-v7a-addon-google_apis-google-$ANDROID_API_LEVEL
  - sys-img-armeabi-v7a-addon-google_apis-google-$EMULATOR_API_LEVEL
  licenses:
  - android-sdk-preview-license-.+
  - android-sdk-license-.+
  - google-gdk-license-.+
before_install:
- openssl aes-256-cbc -K $encrypted_14a98f9a8c09_key -iv $encrypted_14a98f9a8c09_iv
  -in keystore.jks.enc -out keystore.jks -d
- mkdir "$ANDROID_HOME/licenses" || true
- echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"
- echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"
- yes | sdkmanager "platforms;android-27"
- pwd
- ls -la
- sudo apt-get install dos2unix -y
- dos2unix gradlew
- chmod +x gradlew
- "./gradlew dependencies || true"
script:
- chmod +x gradlew
- "./gradlew clean"
- "./gradlew assembleDebug"
- "./gradlew assembleDebugAndroidTest"
before_deploy:
- cp $TRAVIS_BUILD_DIR/keystore.jks $HOME
- cd app/build/outputs/apk/
- ls -la
- ls -la /release/
- ls -la /releases/


- jarsigner -verbose -sigalg SHA1withRSA -digestalg SHA1 -keystore $HOME/keystore.jks
  -storepass $storepass -keypass $keypass app-release-unsigned.apk gautam
- jarsigner -verify app-release-unsigned.apk
- "${ANDROID_HOME}/build-tools/28.0.2/zipalign -v 4 app-release-unsigned.apk QuizApp.apk"
deploy:
  provider: releases
  api_key:
    secure: YiH3Dej10HeRzFlujcmHFSCUrFaKqMxW2WZXhAUHG9KMsVYumOn6mCgVTXa0o9qkEZhVLZlrYrTRgvCI1nFf7M27kZW1/MyHD/APnYYMxHt6qZGnMn/AheU4Gsr6/jtUhKvyEMtreG6j/hCiWk79Qq58d54NWevP9wiWbO+MkjDs2SqD+KeDlVa5V0rDMdZRHqHMYh73+dviySBeEnNJlC4i0HYKB3Gixkc0geNyNK4X44aBK9tld3Zan8Ekf/D4GcVVNXtVI94FFEbRatXG5lc1OLr6rKMHGFHmawcPMDWctMOoZJWQ1P3FnP7ASbujqbo/Tp7GQmUW45GlL+vEJLdAR3VVMvOGEEpAzHanR8rKqEajmzQavpq0s9oAV3cq43wBkn44Mpc1z0+wrGyXv+0lOm/h7Pq+VKhSTYp2tOZLbHU7sFlxnL/V06x+XDvlY1IldBOXTTJ78RrglHoN3I3MvmUst3KWk/hiVoI7k/bsecDp7HAAQYQP0Ku6uQ+BlPoFpm7DLUMrvxIoVaNpttAYTIstRVxQQtXbHnK0MIsZrAB9VP4IkImsPZ5DMflVE6b+DK07kz3xTRTxwfaqax41ycFtqHaXNoypL8zqJhJVor2Xt9GD4Oq64eOeLS67YWIJTDcdV1xwGlG/rXF7JuowatQXMtNxHo7Ji17lS7M=
  file: QuizApp.apk
  skip_cleanup: true
  on:
    repo: gautamhans1/QuizApp
after_success:
- sh set_tags.sh
